@model Library.Models.SetModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SetModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShelfId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShelfId)
        </dd>
        <hr />
        @foreach (var book in Model.Books)
        {
            @if (book != null)
            {
                <h5>Book Name: @book.Name </h5>
                <h5>Genre: @book.Genre | Height: @book.Height | Width: @book.Width</h5>
                <hr />
            }
        }
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
