@model IEnumerable<Library.Models.SetModel>

@{
	ViewData["Title"] = "Index";
}

<h1>Book Sets</h1>

<p>
	@Html.ActionLink("Create New", "Create", "Set", new { id = ViewBag.Id })
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					Set Name: @Html.DisplayFor(modelItem => item.Name)
					<hr />
					@foreach (var book in item.Books)
					{
						@if (book != null)
						{
							<h5>
								@book.Name |
								@Html.ActionLink("Delete", "Delete", new { id = book.Id })
							</h5>
							<hr />
						}
					}
				</td>
				<td>
					@* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
					@Html.ActionLink("Add Book", "AddBook","Book", new { id = item.Id }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.Id })
				</td>
				<hr />
			</tr>
		}
	</tbody>
</table>
